/* CONSTANTS */
/* Color coding for xG */
.xg-top{ background-color: rgb(55, 85, 35); color: white; font-weight: bold;}
.xg-top2 { background-color: rgb(1, 252, 122); color: black; font-weight: bold;} /* Green */
.xg-mid { background-color: rgb(231, 231, 231); color: black; font-weight: bold; } /* Grey */
.xg-bottom2{ background-color: rgb(255, 23, 81); color: white; font-weight: bold;}
.xg-bottom { background-color: rgb(128, 7, 45); color: white; font-weight: bold;} /* Maroon */

/* Color coding for xGA */
.xga-bottom{ background-color: rgb(55, 85, 35); color: white; font-weight: bold;}
.xga-bottom2 { background-color: rgb(1, 252, 122); color: black; font-weight: bold;} /* Green */
.xga-mid { background-color: rgb(231, 231, 231); color: black; font-weight: bold;} /* Grey */
.xga-top2{ background-color: rgb(255, 23, 81); color: white; font-weight: bold;}
.xga-top { background-color: rgb(128, 7, 45); color: white; font-weight: bold; } /* Maroon */

/* ------------------------------------------------------------------------------------------------*/

/* Fixture Container & Items */
.fixture {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 90%; /* Adjust based on overall layout needs */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
    max-width: 1200px; /* Ensures fixtures are not too wide */
}

.vs {
    margin: 0 20px; /* Fixed margin for consistent alignment */
    flex-shrink: 0; /* Prevents the 'vs' from shrinking */
    width: 50px; /* Fixed width to help align 'vs' across fixtures */
    text-align: center; /* Ensures 'vs' is always centered in its box */
    font-weight: bold;
    justify-content: center;
}

/* ------------------------------------------------------------------------------------------------*/

/* Home Team Items */ 
.home-team-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the start of the container */
    width: 40%; /* Use 100% width to utilize full container space */
}

.team-logo.home-team-logo {
    margin-left: 10px;
}

.team-stats.home-team-stats {
    margin-right: 20px; /* Spacing to the right, slightly away from the team name */
}
/* ------------------------------------------------------------------------------------------------*/

/* Away Team Items */
.away-team-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the start of the container */
    width: 40%; /* Use 100% width to utilize full container space */
}

.team-logo.away-team-logo {
    margin-right: 10px;
}

.team-stats.away-team-stats {
    margin-left: 20px; /* Spacing to the left, slightly away from the team name */
}
/* ------------------------------------------------------------------------------------------------*/

/* General Team Descriptive Items */

.team-logo {
    width: 50px; /* Fixed width and height to prevent distortion */
    height: 50px;
    object-fit: contain; /* Keeps logo aspect ratio */
}

.team-name {
    white-space: nowrap; /* Keeps the name on a single line */
    font-weight: bold;
    flex-grow: 0; 
    width: 100px;
}

/* ------------------------------------------------------------------------------------------------*/

/* Stats Items */

.team-stats {
    width: 100px; /* Example fixed width; adjust based on your content */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-box {
    display: inline;
    padding: 4px;
    margin: 2px 0; /* Small gap between stats */
    width: 80px; /* Adjust width as needed */
    border: 2px solid rgb(173, 166, 166);
    border-radius: 4px; /* Ensure the combined box is rounded */
}

/* ------------------------------------------------------------------------------------------------*/

