@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9; /* Light grey background for a clean look */
    color: #333; /* Default text color for contrast */
}

.App {
    text-align: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.App-header {
    color: #ffffff;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.App-header h1 {
    font-weight: 700;
    margin: 0;
    color: #ffffff;
    font-size: 2.2rem;
}
